body {
  font-family: Arial;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/background.jpg");
  background-size: cover;
  padding: 350px;
}
h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: white;
}
