<body>
	<div class="signup">
		<div class="signup-screen">
			<div class="app-title">
				<h1>Sign up</h1>
			</div>

			<div class="signup-form">
                <div class="control-group">
                    <input type="text" class="signup-field" value="" placeholder="name" id="signup-name">
                    <label for="signup-name"></label>
                </div>
                    
				<div class="control-group">
				<input type="text" class="signup-field" value="" placeholder="username" id="signup-name">
				<label for="signup-username"></label>
				</div>

				<div class="control-group">
				<input type="password" class="signup-field" value="" placeholder="password" id="signup-pass">
				<label for="signup-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="#">SIGN UP</a>
			</div>
		</div>
	</div>
</body>